* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.green{
     width: 500em;
     height: 50px;
     background-color: 	#2ECC71;
}

.blue{
  float:right;
  width: 20em;
  height: 50px;
  background-color: #2980B9;
}

.red{
  float: left;
  width: 650px;
  height: 150px;
  background-color: #E74C3C;
}

.gris{
  float:left;
  width: 31.12%;
  height: 75px;
  background-color: #95A5A6;
}

.orange{
  float:left;
  width: 35%;
  height: 75px;
  background-color: #E67E22;
}

.dark-orange{
  float:left;
  width: 424px;
  height: 75px;
  background-color: #D35400;
}

.turquoise{
  float:left;
  width: 423px;
  height: 75px;
  background-color: #16A085;
}

.jaune{
  float:left;
  width: 423px;
  height: 75px;
  background-color: #ffcc00;
}

.dark-blue{
  float:right;
  width: 100%;
  height: 190px;
  background-color: #2C3E50;
}
